<!--
<meta http-equiv="refresh" content="0"> 
-->
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
         $("button").click(function(){
            updateImage()
            //alert( "Handler for .click() called." );
         });
      });

      window.setInterval(function(){
      updateImage();
      }, 1000) ;

      function updateImage() {
      $.get( "textImage", function( data, status ) {
         if (data.length > 100 ) {
            $( "#imgToRefresh" ).attr( "src", "data:image/jpg;base64," +  data);
            $( "#message" ).text( '' );
         } else { 
            $( "#imgToRefresh" ).attr( "src", "data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" );
            $( "#message" ).text( 'Camera not ready' );
         }
      } )};
      
     
      
      
    </script>
   </head>
<body>
  <p id="message" >Camera not ready</p>
  <img id="imgToRefresh" src="data:image/jpg;base64,{{ image_string1 }}" /> 
</body>
