{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}
{% include "registration/fastCss.css" %}
{% load staticfiles %}

<div class="main content clearfix">
  <div class="banner">
    <h1>
      This is an awsome website.
    </h1>
    <h2 class="hidden-small">
      Sign into this awsome website
    </h2>
  </div>
  <div class="card signin-card clearfix">
    <div id="cc_iframe_parent"></div>
    <img class="profile-img" src="static/registration/avatar_2x.png" alt="">
    <p class="profile-name"></p>
    <form method="post" action="{% url 'auth_login' %}" id="gaia_loginform">{% csrf_token %}
      <input id="username" name="username" type="text"  placeholder="username" spellcheck="false"></input>
      <input id="password" name="password" type="password" placeholder="password" spellcheck="false"</input>
             {% if form.errors %}
             <p class="error-msg">{% blocktrans %}The email or password you entered is incorrect.{% endblocktrans %}</p>
             {% endif %}
      <input id="signIn" name="signIn" class="rc-button rc-button-submit" type="submit" value="Sign in">
      <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="one-google">
  <p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
    <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>
  </div>


{% endblock %}
